@page "/"
@inject NavigationManager nav
@inject HttpClient http

<PageTitle>Home</PageTitle>

<h1>Events</h1>
<input class="search" type="text" @bind="SearchQuery" @bind:event="oninput" @bind:after="Search" placeholder="Search..."/>

@if (!EventsAvailable) {
    <p class="noEventsFound">There are currently no events available.</p>
} else {
    <section id="events-wrapper">
        @foreach (var eventItem in events) {
            if (eventItem.Name.ToUpper().Contains(SearchQuery.ToUpper()))
            {
                SearchResultsFound++;
                <div id="event-@eventItem.Id" class="event-card">
                    <div class="admin-options">
                        <a href="/editevent?eventid=@eventItem.Id&eventname=@eventItem.Name&eventdescription=@eventItem.Description&eventtype=@eventItem.Type&eventstarttime=@eventItem.StartTime&eventendtime=@eventItem.EndTime&eventmaxattendees=@eventItem.MaxAttendees&eventbookings=@eventItem.Bookings" class="crud-update">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                </svg>
                            </span>
                        </a>
                        <a href="" class="crud-delete" @onclick="() => EventDeleteRequest(eventItem.Id)">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </span>
                        </a>
                    </div>
                    <h2>@eventItem.Name <span class="event-type">@eventItem.Type</span></h2>
                    <p class="event-description">@eventItem.Description</p>
                    <p class="event-date"><span class="event-start">Event Start: @eventItem.StartTime</span><br /> <span class="event-end">Event End: @eventItem.EndTime</span></p>
                    <p class="event-attendees">
                        <span class="@(eventItem.RemainingSeats == 0 ? "error" : (eventItem.RemainingSeats < (eventItem.MaxAttendees / 2)) ? "warning" : "success")">
                            @eventItem.RemainingSeats
                            / @eventItem.MaxAttendees</span><br />Tickets Remaining
                    </p>
                    <div class="event-buttons-wrapper">
                        <button class="@(eventItem.RemainingSeats == 0 ? "event-button-closed" : "event-button")">@(eventItem.RemainingSeats == 0 ? "Fully Booked" : "Book Ticket")</button>
                    </div>
                </div>
            }
        }
        @if (SearchResultsFound == 0) {
            <p class="noEventsFound">No events found...</p>
        }
    </section>
}
@code {
    public bool EventsAvailable = true;
    public int SearchResultsFound = 0;
    public string SearchQuery = "";

    // Temporary event data
    List<Event> events = new List<Event> {
        new Event { Id = 1, Name = "Event 1", Description = "Event 1 Description, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", Type = EventType.Concert, StartTime = DateTime.Parse("2025-04-01 18:00"), EndTime = DateTime.Parse("2025-04-01 21:00"), MaxAttendees = 100, Bookings = 100 },
        new Event { Id = 2, Name = "Event 2", Description = "Event 2 Description, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", Type = EventType.Festival, StartTime = DateTime.Parse("2025-04-02 18:00"), EndTime = DateTime.Parse("2025-04-04 18:00"), MaxAttendees = 3300, Bookings = 1000 },
        new Event { Id = 3, Name = "Event 3", Description = "Event 3 Description, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", Type = EventType.Concert, StartTime = DateTime.Parse("2025-04-03 18:00"), EndTime = DateTime.Parse("2025-04-04 00:00"), MaxAttendees = 1000, Bookings = 550 },
        new Event { Id = 4, Name = "Event 4", Description = "Event 4 Description, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", Type = EventType.Theatre, StartTime = DateTime.Parse("2025-04-04 18:00"), EndTime = DateTime.Parse("2025-04-04 20:00"), MaxAttendees = 400, Bookings = 220 },
        new Event { Id = 5, Name = "Event 5", Description = "Event 5 Description, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.", Type = EventType.Other, StartTime = DateTime.Parse("2025-04-05 18:00"), EndTime = DateTime.Parse("2025-04-05 19:30"), MaxAttendees = 20, Bookings = 2 }
    };

    public class Event
    {
        public int Id { get; set; }
        public string Name { get; set; } = "New event";
        public string Description { get; set; } = string.Empty;
        public EventType Type { get; set; }
        public DateTime StartTime { get; set; }
        public DateTime EndTime { get; set; }
        public int MaxAttendees { get; set; }
        public int Bookings { get; set; }
        public int RemainingSeats => MaxAttendees - Bookings;
    }

    public enum EventType
    {
        Concert = 0,
        Festival,
        Theatre,
        Other
    }

    void Search() {
        SearchResultsFound = 0;
    }

    // Event CRUD Methods
    void EventDeleteRequest(int Id)
    {
        // Send Delete POST Request to /events/delete/
        //http.PostAsJsonAsync("https://localhost:7206/events/delete/", new { id = Id }
    }
}